<%- include('./partials/header.ejs') %>

<div id="Signup-password-PageContainer">
    <h1>Password</h1>
    <br>
    <p>Enter a secure password that's impossible to guess!</p>
    <form action="" method="post" id="Signup-password-form">
        <br>
        <input type="password" value="<%= TheSignupPAndPCValuesAndError['passwordValue'] %>" placeholder="Enter your password" name="Signup_password" id="Signup-password">
        <div id="Signup-password-error" style="color: red;"><%= TheSignupPAndPCValuesAndError['passwordError'][0] %></div>
        <br>
        <br>
        <input type="password" value="<%= TheSignupPAndPCValuesAndError['confirmPasswordValue'] %>" placeholder="confirm your password" name="Signup_confirm_password" id="Signup-confirm-password">
        <div id="Signup-confirm-password-error" style="color: red;"><%= TheSignupPAndPCValuesAndError['confirmPasswordError'][0] %></div>
        <br>
        <br>
        <br>
        <input type="submit" id="submit-Signup-password">
    </form>
    <br>
    <br>
    <br>
</div>


<%- include('./partials/footer.ejs') %>


